SMS_ENABLED=NOT_ENABLED
DATABASE_URL=
TENCENT_SMS_SECRET_ID=
TENCENT_SMS_SECRET_KEY=
RESEND_KEY=
ALIYUN_SMS_SIGN_NAME=
ALIYUN_SMS_TEMPLATE_CODE=
ACCESS_KEY_ID=
ACCESS_KEY_SECRET=
ADMIN_KEY=
SECRET_KEY_BASE=
ALCHEMY_API_KEY=
